// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

[v-cloak] {
    display: none;
}

.notification-bell:after {
    content: none;
}

.notification-item {
    border-bottom: $border-width solid $border-color;
}

.notification-item:last-child {
    border-bottom: none;
}
